/* meng import google font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

@media screen and (max-width: 1000px) {
  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}

body {
  font-family: "Quicksand";
  /* menghilangkan padding pada bawaan browser */
  margin: 0;
  padding: 0;
}

h2,
h3 {
  color: 51557E;
}
nav ul li a {
  font-size: 18px;
  font-weight: 400px;
  text-decoration: none;
  color: whitesmoke;
  padding: 10px;
}

nav li {
  display: inline;
  list-style-type: none;
}
nav ul li a:hover {
  font-weight: bolder;
}
nav {
  background-color: 816797;
  padding: 3px;
  position: sticky;
  top: 0;
}

header{
    display: inline;
}

footer {
  padding: 20px;
  color: white;
  background-color: 51557E;
}

/* tampilan di aside element */
.profile header {
  text-align: center;
}

/* tampilan pada footer */
footer {
  padding: 20px;
  color: white;
  background-color: 16003B;
  text-align: center;
  font-weight: bold;
}

/* tampilan pada gambar di artikel */
.featured-image {
  width: 100%;
  max-height: 300px;
  /* memebuat gambar proposional */
  object-fit: cover;
  object-position: center;
}

.profile img {
  width: 200px;
}

.card {
  border-radius: 6px;

  box-shadow: 5px 5px 15px 5px #000000;
  padding: 20px;
  margin-top: 15px;
}

/* jumbotron */
.jumbotron {
  font-size: 15px;
  padding: 50px;
  background-color: 51557E;
  text-align: center;
  color: white;
}

main {
  padding: 20px;
  /* biar tidak dianggap element kosong */
  overflow: auto;
}

/* float */
#content {
  float: left;
  width: 75%;
}

aside {
  float: right;
  width: 25%;
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}
